.formContainer {
    width: 30%;
    text-align: center;
    padding: 30px;
    background-color: yellow;
}
.formContainer > img {
    width: 50%;
}
.container {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}